.layout {
    background-color: #fff;
    height: 100%;
}
.slds-tabs_default {
    position: relative;
    padding-top: 12px;
}
.logo {
    height: 52px;
    width: 140px;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 12px;
    padding: 0 12px 12px 12px;
    border-bottom-width: var(--slds-c-tabs-list-sizing-border, var(--sds-c-tabs-list-sizing-border, var(--lwc-borderWidthThin, 1px)));
    border-bottom-style: solid;
    border-bottom-color: var(--slds-c-tabs-list-color-border, var(--sds-c-tabs-list-color-border, var(--slds-g-color-border-base-4, var(--lwc-colorBorder, rgb(229, 229, 229)))));
}
.slds-tabs_default__nav.header-tabs {
    margin-left: 140px;
}
.header-tabs .slds-tabs_default__item {
    padding-bottom: 12px;
}
.slds-tabs_default__content {
    padding: 0;
}

.layer, .schedule {
    position: relative;
}
.layer .side-bar, .schedule .side-bar {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    padding: 0;
    z-index: 9;
}
.layer .side-bar .side-bar-header, .schedule .side-bar .side-bar-header {
    background-color: #eeeeee;
    padding: 0 20px;
}
.layer .side-bar .side-bar-header .slds-tabs_default__nav {
    justify-content: space-around;
}
/* 최근항목 */
.layer .list-container .list-item {
    height: 40px;
    display: flex;
    align-items: center;
}
.layer .list-container .list-item:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
/* ON THE MAP */
.layer .map-list {
    padding: 12px;
    background-color: #eeeeee;
}
.layer .map-list .list-item {
    background-color: #fff;
    
}
.layer .map-list .list-item .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px
}
.layer .map-list .list-item .item-header .title {
    display: flex;
    align-items: center;
}
.layer .map-list .list-item .item-header .title .icon {
    margin-right: 8px;
}
.layer .map-list .list-item .item-header .title .text {
    display: grid;
}
.layer .map-list .list-item .item-header .title .text > span:first-child{
    font-size: 1.25em;
    font-weight: bold;
}
.layer .map-list .list-item .item-body .record-info {
    display: grid;
    padding: 12px;
}
.layer .map-list .list-item .item-body .checkbox {
    padding: 0 4px;
}
.layer .map-list .list-item .item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}
.layer .map-list .list-item .item-footer .number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.schedule {
    position: absolute;
}

.schedule .side-bar {
    width: 600px;
}
.schedule .side-bar .side-bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
}
.schedule .side-bar .side-bar-header .calendar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.schedule .side-bar-body {
    display: flex;
}
.schedule .side-bar-body .event {
    width: 350px;
}
.schedule .side-bar-body .event .event-header {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
.schedule .side-bar-body .event .event-body {
    display: flex;
    align-items: flex-start;
    height: 100%;
    overflow: auto;
    max-height: 856px;
}
.schedule .side-bar-body .event .event-body .time {
    width: 20%;
    text-align: center;
}
.schedule .side-bar-body .event .event-body .time li {
    height: 50px;
    align-content: center;
}
.schedule .side-bar-body .event .event-body .section {
    width: 80%;
}
.schedule .side-bar-body .event .event-body .section li {
    height: 25px;
}

.schedule .side-bar-body .store {
    width: 250px;
}
.schedule .side-bar-body .store .store-header {
    display: grid;
    padding: 8px 12px;
}
.schedule .side-bar-body .store .store-header lightning-button {
    width: 100%;
    margin-top: 12px;
}
.schedule .side-bar-body .store .store-body {
    padding: 20px 12px;
    display: grid;
    gap: 4px;
}
.schedule .side-bar-body .store .store-body .item {
    background-color: #D8E6FE;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}
.schedule .side-bar-body .store .store-body .item span {
    color: #0B5CAB;
    font-weight: bold;
}

/* 지도 */
.map-container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.drag-box /*, .item-drag-box */ { 
    background-color: cadetblue;
    border: 2px solid cornflowerblue;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    cursor: pointer;
    user-select: none;
    display: none;
}
/* .item-drag-box {
    cursor: default;
    z-index: 99;
} */