name: back_up

on:
  workflow_dispatch:
  schedule:
  - cron: '55 02 * * *'


jobs:
  back_up:
    runs-on: ubuntu-latest
    steps:
      #Search Folder Graph
      #- name : Search Folder Graph
      #  run : |
      #    cd /
      #    tree -f
      #    ls -a
      ## Install Salesforce CLI 주석
      #- name: Install Salesforce CLI
        # wget https://developer.salesforce.com/media/salesforce-cli/sf/channels/stable/sf-linux-arm64.tar.xz
        # tar xJf sf-linux-arm64.tar.xz -C ~/cli/sf --strip-components 1
        # ~/cli/sf/install
      #  run: |
      #    wget https://developer.salesforce.com/media/salesforce-cli/sf/channels/stable/sf-linux-x64.tar.xz
      #    mkdir -p ~/cli/sf
      #    tar xJf sf-linux-x64.tar.xz -C ~/cli/sf --strip-components 1
      #    export PATH=~/cli/sf/bin:$PATH
      #    PATH=~/cli/sf/bin:$PATH
      #    sf -v
      #    sf update

      - name: Salesforce CLI Setup
      # You may pin to the exact commit or the version.
      # uses: karamchandanid/sfdx-setup@16c67b6461448e6e0f78e565326e4c8a8385799a
        uses: karamchandanid/sfdx-setup@v2
        with:
            # 
            user_name: ${{secrets.USER_ID}}
            # 
            #login_url: # optional, default is https://login.salesforce.com
            # combination of <password>:<security_token>
            password: ${{secrets.USER_PWD}}
            # Consumer Key of a connected App created within salesforce
            sfdc_client_id: ${{secrets.CLIENT_ID}}
            # Consumer Secret of a connected App created within salesforce
            sfdc_client_secret: ${{secrets.CLIENT_SECRET}}
        
      # sf project retrieve start --manifest ../manifest/package.xml
      # echo "Retrieve Finished."
      # Checkout the source code
      - name: 'Checkout source code'
        uses: actions/checkout@v4.1.3
        
      - name: Retreieve
        run: |
          pwd
          echo "Current Path"
          ls -a
          echo "Directory List"
          sf -v
          sf project retrieve start --manifest ./manifest/package.xml
          tree -f
          cd ./force-app/main/default/classes
          ls -a

          
          
          

  

